* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: PokeFont;
    src: url(./PokemonGb-RAeo.ttf);
}

:root {
    --Erie-Black: #1E1E1E;
    --Isabelline: #F6F0ED;
    --My-Blue: #98ABEE;
    --My-Red: #E78895;
    --Health-Red: #FC0504;
    --Health-Green: #2cd829;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://i.pinimg.com/736x/ee/f7/09/eef7095fc26e27190c4b691404d291c4.jpg');
    background-size: cover;
    font-family: PokeFont;
    font-size: 1rem;
    overflow: hidden
}
main {
    width: 95vw;
    height: 100dvh;
    display: flex;
}
ul {
    list-style: none;
}


/* ENEMY TEAM --------------------------*/
.enemy-poke{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100dvh;
}
.top-team ul {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.enemy-pokemon{
    position: absolute;
    top: 10dvh;
    right: 15vw;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.enemy-pokemon img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}
.hp-border {
    margin-top: 0.5rem;
}




/* PLAYER TEAM --------------------------*/
.player-poke{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100dvh;

}

.right-team{
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-team ul{
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-team li {
    scale: 0.8;
    width: 100%;
    background: linear-gradient(to top, var(--Health-Red) 0%, var(--Health-Red) 0%, var(--Health-Green) 0%, var(--Health-Green) 100%);
    border-radius: 50%;

}
.right-team li {
    scale: 0.8;
    width: 100%;
    background: linear-gradient(to top, var(--Health-Red) 0%, var(--Health-Red) 0%, var(--Health-Green) 0%, var(--Health-Green) 100%);
    border-radius: 50%;
}
.player-pokemon{
    overflow: hidden;
    position: absolute;
    bottom: -100px;
    left: 100px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.player-pokemon img {
    overflow: hidden;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

/* TEXT AREA -------------------------- */
.display-text{
    align-self: center;
    width: 30vw;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}
.display-text p {
    border-radius: 0.5rem;
    border: #9c0000 solid 0.5rem;
    padding: 1rem   ;
    height: 13dvh;
    background-color: antiquewhite;
    font-size: 1rem;
    color: var(--Erie-Black);
    text-align: center;
    margin: 1rem;
}
.display-text p span {
    color: var(--My-Blue);
}

.enemy-display {
    color: red
}

/*  ABILITIES -------------------------- */
.player-abilities {
    align-self: flex-end;
    margin: 1rem;
    gap: 1rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enemy-name{
    align-self: flex-end;
}
.menu {
    position: absolute;
    display: flex;
    right: 0px;
    bottom: 0px;
}

.ability-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.player-abilities button {
    width: 15vw;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 5px;
    background: var(--My-Blue);
    color: var(--Isabelline);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-family: PokeFont;
}

/* HP -------------------------- */ 
.stats {
    display: flex;
    flex-direction: column;
    border: 5px double black;
    width: 20vw;
    padding: 15px;
    height: 100px;
    background-color: var(--Isabelline);
  }
  .enemy-stats {
    border-radius: 20px 0px 0px 20px;;
  }
  .pokemon-stats {
    border-radius: 0px 20px 20px 0px;
  }
  .enemy-name {
    margin-right: 2rem;
    align-self: flex-end;
  }
  .pokemon-name {
    margin-left: 1.5rem;
    align-self: flex-start;
  }
  h2 {
    text-align: center;
  }
  .stage {
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enemy-picture {
  transform: scale(2.3);
  }
  .pokemon-picture {
    transform: scale(1.5);
  }
  .hp-meter {
    display: flex;
    align-items: flex-end;
    background-color: var(--Health-Green); ;
    height: 10px;
    width: 100%;
    border-radius: 10px;
  }
  .hp-border {
    border: 3.12px solid black;
    border-radius: 10px;
    width: 99.9%;
  }
  .hp-counter {
    margin-top: 0.1rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Righteous;
    position: relative;
    left: 25px;
  }